@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

/* General*/

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 1rem 2rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    margin: 1rem 1.5rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    margin: 0.5rem 2.5rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin: 2px auto;
}

/* Heading */

.heading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #1F497D;
}

.logo {
    height: 5rem;
    width: auto;
    margin: auto;
    display: block;
}


/*Body*/

.data-input,
.data-output {
    background-color: #E1E2DF;
    box-sizing: border-box;
    border-radius: 20px;
    border-width: 2px;
    border-color: #1F497D;
    border-style: solid;
    width: 70%;
    height: 600px;
    margin: 5vh auto;
    padding: 5px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.img-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: auto 3rem;
}

.input-age, 
.gender,
.marital-status,
.radio-health {
    text-align: center;
    width: 100%;
}

.btn,
.input-box {
    height: 2.5rem;
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.8rem;
    padding: 0;
    text-align: center;
}

.btn {
    width: 2.5rem;
    color: black;
}

.input-box {
    width: 10rem;
 }

 #age {
    width: 3rem;
    height: 2.25rem;
 }

 .radio {
    margin-top: -1px;
    vertical-align: middle;
  }